@import "layouts/manifest";

html, body {
  min-height: 100%;
}

body {
  background-color: $color-background;
  background-image: url('http://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Hong_Kong_Skyline_Restitch_-_Dec_2007.jpg/800px-Hong_Kong_Skyline_Restitch_-_Dec_2007.jpg');
}


