@import "layouts/manifest";

html, body {
  height: 100%;
}

body {
  background-color: $color-background;
  //background-image: url('http://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Hong_Kong_Skyline_Restitch_-_Dec_2007.jpg/800px-Hong_Kong_Skyline_Restitch_-_Dec_2007.jpg');
}

body {
  background: url(../images/main-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

article {
  //border: 0.3em solid $article-box;
  @include blockpane;
}

main {
  min-height: calc(100% - 15em);
  width: 100%;
  @media #{$tablet2} {
    min-height: calc(100% - 13em);
  }
  @media #{$mobile} {
    min-height: calc(100% - 9em);
  }
}

// Clearfix

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

