@import "layouts/manifest";

html, body {
  height: 100%;
}

body {
  background-color: $color-background;
  //background-image: url('http://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Hong_Kong_Skyline_Restitch_-_Dec_2007.jpg/800px-Hong_Kong_Skyline_Restitch_-_Dec_2007.jpg');
}

body {
  background: url(../images/main-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

article {
  //border: 0.3em solid $article-box;
  margin: $spacing auto;
  padding: $spacing;
  background-color: $color-article;
  width: $width-block;

  @media #{$tablet1} {
    width: $width-block2;
  }
  @media #{$tablet2} {
    width: $width-block3;
    margin: $spacing2 auto;
    padding: $spacing2;
  }
  @media #{$mobile} {
    width: $width-block4;
    margin: $spacing2 auto;
    padding: $spacing2;
  }
}

main {
  min-height: calc(100% - 11em);
  width: 100%;
  @media #{$mobile} {
    min-height: calc(100% - 7em);
  }
}

// Clearfix

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

