
@font-face {
  font-family: 'orbitronbold';
  src: url('fonts/orbitron-bold-webfont.eot');
  src: url('fonts/orbitron-bold-webfont.eot?#iefix') format('embedded-opentype'),
   url('fonts/orbitron-bold-webfont.woff') format('woff'),
   url('fonts/orbitron-bold-webfont.ttf') format('truetype'),
   url('fonts/orbitron-bold-webfont.svg#orbitronbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'orbitronregular';
  src: url('fonts/orbitron-regular-webfont.eot');
  src: url('fonts/orbitron-regular-webfont.eot?#iefix') format('embedded-opentype'),
   url('fonts/orbitron-regular-webfont.woff') format('woff'),
   url('fonts/orbitron-regular-webfont.ttf') format('truetype'),
   url('fonts/orbitron-regular-webfont.svg#orbitronregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'audiowideregular';
  src: url('fonts/Audiowide-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensansregular';
  src: url('fonts/OpenSans-Regular-webfont.eot');
  src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
   url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
   url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
   url('fonts/OpenSans-Regular-webfont.svg#opensansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensansbold';
  src: url('fonts/OpenSans-Bold-webfont.eot');
  src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
   url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
   url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
   url('fonts/OpenSans-Bold-webfont.svg#opensansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: $font1;
  color: $color-text1;
  font-size: $size1;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: left;
  @media #{$tablet2} {
    font-size: $size1 * 0.85;
  }
  @media #{$mobile} {
    font-size: $size1 * 0.7;
  }
}

h2 {
  font-family: $font2;
  color: $color-text2;
  font-size: $size2;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: left;
  @media #{$tablet2} {
    font-size: $size2 * 0.85;
  }
  @media #{$mobile} {
    font-size: $size2 * 0.7;
  }
}

p {
  font-family: $font3;
  color: $color-text3;
  font-size: $size3;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: justify;
  @media #{$tablet2} {
    font-size: $size3 * 0.85;
  }
  @media #{$mobile} {
    font-size: $size3 * 0.7;
  }
}

a {
  color: $color-text6;
  text-decoration: none;
  font-weight: bold;
}

small {
  font-family: $font3;
  color: $color-text5;
  font-size: $size4;
  @media #{$mobile} {
    font-size: $size4 * 0.6;
  }
}

ul {
  font-family: $font3;
  color: $color-text3;
  font-size: $size4;
  list-style-type: $ul-style;
  list-style-position: $ul-position;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  @media #{$tablet2} {
    font-size: $size4 * 0.85;
  }
  @media #{$mobile} {
    font-size: $size4 * 0.7;
  }
}

ul.twoColumns {
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

ul.twoColumns li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: inline-block;
}

//article p {
//  text-align: justify;
//}

//article h1 {
//  text-align: left;
//}

//article h2 {
//  text-align: left;
//}

ul span {
  font-weight: bold;
}
