extends layout

block content
  main
    article.about.cf
      figure.portrait
        img(src="../images/aaron001.jpg" alt="Portrait of the author")
        div.scanLines.fullHeight
      p I am a front end developer and UX engineer, having recently made the significant career change from environmental laboratory chemistry. I can credit my father for getting me initially interested in computer programming, having introduced me to BASIC when I was about 10. In high school I began pursuing science, but on the side I explored the then-budding web technologies of HTML and CSS (with often comically amateur results at the time). It was during college that I started dabbling with the sophisticated scripting languages used in a couple of computer games, introducing me to object oriented programming concepts and sparking a deeper interest in coding as more than just a side hobby. A couple of laboratory jobs later, I enrolled in the <a href="http://www.codefellows.org">Code Fellows</a> UX Engineering bootcamp program and solidified my career transition. This site was built using some of the skills and technologies I learned during this class, including <a href="http://sass-lang.com/">SASS</a> and <a href="http://expressjs.com/">Express</a>.
      p Besides front end web development, I enjoy science fiction literature and films and continue to have an on-again, off-again relationship with fantasy games. I also play guitar, bass, and keyboards and have been involved in a couple of bands throughout the years. The 80s have a special place in my heart when it comes to pop cultural history and music.
