extends layout

block content
  main
    section.connect
      h1 Connect with me
      p Here are some of the other places you can find me on the internet.
      p <a href="http://github.com/aaronkbrown">My GitHub</a> - See my past and current coding projects
      p <a href="http://www.linkedin.com/profile/view?id=312166921">My LinkedIn</a> - Connect with me professionally
      p <a href="http://www.twitter.com/AbrownUX">My Twitter</a>
      p <a href="mailto:aaron.kaoru.brown@gmail.com">My Email</a>
