extends layout

block content
  main
    section.splash
      h1 Welcome
      p My name is Aaron Brown, a front-end web developer. 
      p Style sheet problem solver.
      p JavaScript journeyman.
      p Front end developer.
      p UX engineer.
      p Web technology student.
      p Hi, my name is Aaron Brown and I build things with computers. Welcome to my corner of the information superhighway.
      p I try not to use titles like 'ninja' or 'guru.'
