extends layout

block content
  main
    section.splash
      h1 Welcome
      p My name is Aaron Brown, and I am a front-end developer. I love creative challenges and I love crafting interactive experiences. Coding and web development have given me a unique place to bring both passions together in a meaningful way. Welcome to my corner of the information superhighway.
      p Are you looking for someone to bring your designs and ideas to life? Please get in touch!
