extends layout

block content
  main
    section.splash
      h1 Welcome
      p I am a front-end developer and recent graduate of <a href="http://www.codefellows.org/">Code Fellows</a>. I love creative challenges and I love crafting interactive experiences. Coding and web development have given me a unique place to bring both passions together in a meaningful way. Welcome to my corner of the information superhighway.
      p Are you looking for someone to bring your designs and ideas to life? Please get in touch!
      p Have a look at <a href="http://aaronkbrown.github.io/quiz" target="_blank">my most recent project</a>!
