doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Aaron Brown is a front end web developer specializing in HTML5, CSS3, and JavaScript')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0 minimal-ui')
    link(rel='stylesheet', id='csslink', type='text/css', title='default', href='/stylesheets/application.css')
    link(rel="icon" type="image/gif" href="../images/favicon.gif")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/javascripts/jquery.cookie.js")
    script(src="/javascripts/html5shiv-printshiv.min.js")
  body
    include modules/header
    block content
    include modules/footer
    script(src="/javascripts/styleswap.js")
