extends layout

block content
  main
    section.links
      h1 Links
      p Here is a handful of useful and/or fun links from around the web that speak to my experience and interests. I have had no hand in creating or maintaining any of these sites and cannot be held responsible for poor design.
      p <a href="http://jsbin.com">JS Bin</a> - Experiment with JavaScript, HTML, and CSS
      p <a href="http://sassmeister.com">SassMeister</a> - Experiment with the SASS (Syntactically Awesome Style Sheets) preprocessor language
      p <a href="http://oscarotero.com/jquery">jQuery Quick API Reference</a> - Look up a jQuery function or selector
      p <a href="http://www.w3schools.com">W3schools</a> - Basic web language tutorials and references
      p <a href="http://www.codefellows.org">Code Fellows</a> - My UX alma mater
      p <a href="http://www.vintagesynth.com">Vintage Synth Explorer</a> - An online archive of nearly every synthesizer manufactured commercially
      p <a href="http://www.discogs.com">Discogs.com</a> - The most exhaustive and comprehensive database on the internet of published recordings and music
