extends layout

block content
  main
    article.portfolio
      section.dave-b
        h1 Dave-B.net
        figure
          img(src='../images/dave-b.png' alt='Dave-B.net')
        p My father's personal website was a relic of the 90s, and so I gave it a complete makeover to bring it up to 2014. I took some stylistic inspiration from the <a href="http://www.energy.gov">Department of Energy website</a> while designing the layout. The site is a single full page featuring smooth scrolling navigation and a collapsible menu bar at the top when viewed through a mobile device. It is fully responsive and renders properly in older versions of Internet Explorer. I built the site using Sass and jQuery.
        p <a href="http://www.dave-b.net">www.Dave-B.net</a>
      section.reminder
        h1 Reminder
        figure
          img(src='../images/reminder.png' alt='Reminder app mockup in iPhone')
        p Reminder was an app mockup that was designed and built with several classmates while in Code Fellows. The idea behind the app was that it would create text reminders before important upcoming dates based on a significant other's gift wishlist. My primary responsibilities for this project included designing the layout of the UI and coding the HTML, CSS, and some JavaScript. The app was fully responsive with a mobile first approach to the design.
