extends layout

block content
  main
    article.portfolio
      section.easyquiz
        h1 EasyQuiz
        figure
          img(src='../images/easyquiz.png' alt='EasyQuiz example')
        p EasyQuiz is a simple javascript-based framework for building HTML5 and CSS3 quizzes and surveys that I programmed. It is designed to ask yes/no or agree/disagree questions in two separate categories and graph the results on a simple grid at the end, inspired in part by simple political quizzes but applicable to most any subject. The UI utilizes <a href="http://nicinabox.com/superslides/">Superslides</a> to make each question swipe to the side after being answered by the user. This is largely a work in progress, and I used it to create a simple example based on Myers-Briggs personality types.
        p <a href="http://aaronkbrown.github.io/quiz/">Example Quiz</a>
        p <a href="http://github.com/aaronkbrown/quizproject">GitHub repo</a>
      section.reminder
        h1 Reminder
        figure
          img(src='../images/reminder.png' alt='Reminder app mockup in iPhone')
        p Reminder was an app mockup that was designed and built with several classmates while in Code Fellows. The idea behind the app was that it would create text reminders before important upcoming dates based on a significant other's gift wishlist. My primary responsibilities for this project included designing the layout of the UI and coding the HTML, CSS, and some JavaScript. The app was fully responsive with a mobile first approach to the design.
      section.jsgame
        h1 JavaScript adventure game
        figure
          img(src='../images/jsgame.png' alt='JavaScript adventure game')
        p This game was originally created as a personal homage to old text-based adventure games but with a simple graphic UI to give it a slightly updated look and feel. It's a perpetual work in progress with several features wished for, planned, or implemented from time to time. I programmed the core functionality in object-oriented JavaScript and built the interface with HTML and CSS to be fully responsive. The project currently resides on my personal GitHub account and can be forked from there.
        p <a href="https://github.com/aaronkbrown/RP-Demo-JavaScript">GitHub repo</a>
      section.dave-b
        h1 Dave-B.net
        figure
          img(src='../images/dave-b.png' alt='Dave-B.net')
        p My father's personal website was a relic of the 90s, and so I gave it a complete makeover to bring it up to 2014. I took some stylistic inspiration from the <a href="http://www.energy.gov">Department of Energy website</a> while designing the layout. The site is a single full page featuring smooth scrolling navigation and a collapsible menu bar at the top when viewed through a mobile device. It is fully responsive and renders properly in older versions of Internet Explorer. I built the site using Sass and jQuery.
        p <a href="http://www.dave-b.net">www.Dave-B.net</a>
