extends layout

block content
  main
    article.portfolio
      section.hetaudahouse
        h1 HetaudaHouse.org
        figure
          a(href="http://hetaudahouse.org")
            img(src='../images/hetaudahouse.png' alt='Hetauda House above fold')
        p Hetauda House was a nonprofit campaign to raise money to build a safe house in Hetauda, Nepal for women and children rescued from human trafficking. This project was built by a two-person team using WordPress and Bootstrap. My primary responsibilities involved writing the majority of the HTML, the CSS, and a light amount of jQuery to create a mobile-friendly responsive web experience.
        p <a href="http://hetaudahouse.org">HetaudaHouse.org</a>
      section.dave-brown-photography
        h1 Dave-Brown-Photography.com
        figure
          a(href="http://www.dave-brown-photography.com")
            img(src='../images/dave-brown-photography.png' alt='Dave-Brown-Photography.com')
        p This website was built as an online photography portfolio. I built it as a solo project that involved both designing and coding the site from scratch. I used a combination of Sass and jQuery to build a custom lightbox effect for viewing images in the galleries. The site is fully responsive.
        p <a href="http://www.dave-brown-photography.com">Dave-Brown-Photography.com</a>
      section.easyquiz
        h1 EasyQuiz
        figure
          a(href="http://aaronkbrown.github.io/quiz")
            img(src='../images/easyquiz.png' alt='EasyQuiz example')
        p EasyQuiz is a simple javascript-based framework for building HTML5 and CSS3 quizzes and surveys that I programmed. It is designed to ask yes/no or agree/disagree questions in two separate categories and graph the results on a simple grid at the end, inspired in part by simple political quizzes but applicable to most any subject. The UI utilizes <a href="http://nicinabox.com/superslides/">Superslides</a> to make each question swipe to the side after being answered by the user. This is largely a work in progress, and I used it to create a simple example based on Myers-Briggs personality types.
        p <a href="http://aaronkbrown.github.io/quiz/">Example Quiz</a>
        p <a href="http://github.com/aaronkbrown/quizproject">GitHub repo</a>
      section.jsgame
        h1 JavaScript adventure game
        figure
          a(href="http://aaronkbrown.github.io/jsgame2")
            img(src='../images/jsgame.png' alt='JavaScript adventure game')
        p This game was originally created as a personal homage to old text-based adventure games but with a simple graphic UI to give it a slightly updated look and feel. It's a perpetual work in progress with several features wished for, planned, or implemented from time to time. I programmed the core functionality in object-oriented JavaScript and built the interface with HTML and CSS to be fully responsive. The project currently resides on my personal GitHub account and can be forked from there.
        p <a href="https://github.com/aaronkbrown/RP-Demo-JavaScript">GitHub repo</a>
      section.urbansmokes
        h1 UrbanSmokes
        figure
          img(src='../images/urbansmokesmobile.png' alt='UrbanSmokes app mockup in iPhone')
        p UrbanSmokes is a mobile app for finding nearby smoke shops and spaces that permit indoor smoking. It was designed to filter by certain search criteria pulled from Yelp and was built on a team of three developers. My primary responsibilities for this project involved writing the client-side JavaScript functionality, integrating the Google Maps and Yelp APIs, and some light design work with Bootstrap.
      section.crashr
        h1 Crashr
        figure
          img(src='../images/crashrmobile.png' alt='Crashr app mockup in iPhone')
        p Crashr is a mobile app that scrapes Facebook for public social events that the user can then choose to RSVP or decline. The idea behind it was to be like the Tinder of social events. The app was built by a team of three developers, and my primary responsibilities included writing the client-side JavaScript and AngularJS directives.
      section.reminder
        h1 Reminder
        figure
          img(src='../images/reminder.png' alt='Reminder app mockup in iPhone')
        p Reminder was an app mockup that was designed and built with several classmates while in Code Fellows. The idea behind the app was that it would create text reminders before important upcoming dates based on a significant other's gift wishlist. My primary responsibilities for this project included designing the layout of the UI and coding the HTML, CSS, and some JavaScript. The app was fully responsive with a mobile first approach to the design.

