extends layout

block content
  main
    article.resume
      section.profile
        h1 Profile
        p I've been creating with technology my entire life, from tinkering in BASIC during elementary school to studying video game scripting languages during college, and everything in between. I have recently completed an intense 8-week UX engineering training course augmenting my technical skills with a deeper understanding of best industry practices, and I am prepared to hit the ground running as a front end developer.
      section.objective
        h1 Objective
        p I am looking for an opportunity to contribute to meaningful projects that can improve and expand my skills.
      section.skills
        h1 Skills
        ul.twoColumns
          li <strong>JavaScript/jQuery</strong> - Unobtrusive JavaScript, DOM manipulation
          li <strong>HTML/Jade, CSS/Sass</strong> - Semantic, accessible, responsive web design
          li <strong>Git</strong> - Feature branching, resolving merging conflicts
          li <strong>Collaborative</strong> - Pair programming, collaborating through GitHub
          li <strong>Communication</strong> - Training coworkers, teaching abstract concepts, customer service
      section.education
        h1 Education
        p 2014 - Code Fellows UX Engineering - Seattle, WA - Delivered functional prototype in a developer environment from the command terminal
        p 2006 - Bachelor of Science in Chemistry, University of Washington - Seattle, WA
      section.experience
        h1 Experience
        h2 LABORATORY ANALYST (2006 - 2013)
        h3 NVL Laboratories, Pace Analytical Services, Laucks Testing Laboratory
        p Working as a laboratory analyst included prioritizing tasks, delegating roles, and balancing multiple activities during peak periods, from operating laboratory instruments to data entry and quality checking in a fast deadline-driven environment. On top of this, I also periodically handled client calls as a part of customer service and have trained several new employees in instrument operation.
