extends layout

block content
  main
    article.resume
      section.profile
        h1#profileHeader Profile
        #profileContent.resumeToggled
          p I am a front-end developer who has been programming and scripting since high school, and I love translating designs into code and contributing to projects that solve real problems.
      section.skills
        h1#skillsHeader Skills
        #skillsContent.cf.resumeToggled
          .skillsBlock
            table
              tr
                th Proficient
              tr
                td
                  p HTML, Jade
              tr
                td
                  p CSS, Sass
              tr
                td
                  p JavaScript, jQuery, DOM manipulation, OOP
              tr
                td
                  p Git
              tr
                td
                  p Responsive Design
          .skillsBlock
            table
              tr
                th Developing
              tr
                td
                  p AngularJS
              tr
                td
                  p Jasmine, unit testing
              tr
                td
                  p PHP
              tr
                td
                  p Ruby
              tr
                td
                  p AJAX, JSON
      section.projects
        h1#projectsHeader Projects
        #projectsContent.resumeToggled
          h2 UrbanSmokes
          p Mobile app for locating nearby smoke shops built with a small team utilizing Bootstrap, JavaScript, the Google Maps and Yelp APIs, and PhoneGap
          h2 Crashr
          p Social network scraper app for public events built during a Startup Weekend hackathon on a team of three developers, utilizing HTML, CSS, JavaScript, Angular, and PhoneGap
          h2 PaginatorJS
          p Simple templating framework for presenting and navigating paginated content built as a solo project, utilizing HTML, Sass, JavaScript, Modernizr, AJAX, and JSON
          h2 Living Style Guide
          p School project with a responsive layout and reusable elements built with a classmate, utilizing Express.js, Jade, Sass, and Grunt
      section.history
        h1#historyHeader Work History
        #historyContent.resumeToggled
          h2 WEB DEVELOPER (2014 - PRESENT)
          h3 Freelance
          p Wrote HTML, CSS, and JavaScript for web pages, deployed code via FTP client or command line tools, and designed in the browser to create responsive layouts and user interfaces
          h2 LABORATORY ANALYST (2006 - 2013)
          h3 NVL Laboratories, Pace Analytical Services, Laucks Testing Laboratory
          p Operated and maintained analytical equipment, handled technical calls from customers, and trained several employees in using the instruments
      section.education
        h1#educationHeader Education
        #educationContent.resumeToggled
          p 2014 - Certificate of UX Engineering, Code Fellows - Seattle, WA
          p 2006 - Bachelor of Science in Chemistry, University of Washington - Seattle, WA

  script(src="/javascripts/resumeHide.js")
