extends layout

block content
  main
    article.resume
      section.profile
        h1 Profile
        p I've been creating with technology my entire life, from tinkering in BASIC during elementary school to studying video game scripting languages during college, and everything in between. I have recently completed an intense 8-week UX engineering training course translating static designs into planned, executed, and delivered web prototypes in a collaborative environment, and I am prepared to hit the ground running as a front-end developer.
      section.skills
        h1 Skills
        ul.twoColumns
          li <span>JavaScript/jQuery</span> - Unobtrusive JavaScript, Express framework
          li <span>HTML/Jade, CSS/Sass</span> - Semantic, accessible, responsive web design
          li <span>Git</span> - Feature branching, resolving merging conflicts
          li <span>Collaborative</span> - Pair programming, collaborating through GitHub
          li <span>Communication</span> - Training coworkers, teaching abstract concepts
      section.experience
        h1 Experience
        h2 NVL LABORATORIES
        p Testing laboratory specializing in heavy metals and asbestos detection
        ul
          li Operation of FAA, GFAA, ICP, and HPLC
          li Trained two employees in operation of FAA and ICP
        h2 PACE ANALYTICAL SERVICES / LAUCKS TESTING LABORATORY
        p Testing laboratory specializing in environmental detection of fuels and industrial organics
        ul
          li Installed new equipment in gas chromatographs that tripled production
          li Trained three new employees in gas chromatography
      section.education
        h1 Education
        p 2014 - Code Fellows UX Engineering - Seattle, WA - Delivered functional prototype in a developer environment from the command terminal
        p 2006 - Bachelor of Science in Chemistry, University of Washington - Seattle, WA
