html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

img, object, embed {
  max-width: 100%; }

img {
  border-style: none;
  border-color: transparent;
  border-width: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }
  a:focus {
    text-decoration: underline;
    outline: none; }

del {
  text-decoration: line-through; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

input[type="radio"] {
  vertical-align: text-bottom; }

input, textarea, select, button {
  font-family: inherit;
  font-weight: inherit;
  background-color: #fff;
  border: 0;
  padding: 0;
  margin: 0; }

table {
  font-size: inherit; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

.clickable, input[type=button], input[type=submit] {
  cursor: pointer; }



button {
  cursor: pointer;
  margin: 0;
  width: auto;
  overflow: visible; }

a.button {
  display: inline-block; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }


ins {
  color: black;
  text-decoration: none; }

mark {
  font-style: italic;
  font-weight: bold; }



html {
  height: 100%; }

body {
  min-height: 100%;
  width: 100%;
  position: absolute;
  background-color: #ffffff; }

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

article {
  margin: 2em auto;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0);
  width: 675px; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    article {
      width: 675px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    article {
      width: 460px;
      margin: 1em auto;
      padding: 1em; } }
  @media only screen and (max-width: 479px) {
    article {
      width: 95%;
      margin: 1em auto;
      padding: 1em; } }

.resume {
  margin: 2em auto;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0);
  width: 675px;
  width: 675px; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .resume {
      width: 675px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .resume {
      width: 460px;
      margin: 1em auto;
      padding: 1em; } }
  @media only screen and (max-width: 479px) {
    .resume {
      width: 95%;
      margin: 1em auto;
      padding: 1em; } }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .resume {
      width: 675px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .resume {
      width: 460px; } }
  @media only screen and (max-width: 479px) {
    .resume {
      width: 95%; } }

main {
  width: 100%;
  margin-bottom: 7em; }
  @media only screen and (min-width: 480px) and (max-width: 767px) { }
  @media only screen and (max-width: 479px) {
    main {
      margin-bottom: 4em; } }

.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

@font-face {
  font-family: 'orbitronbold';
  src: url('fonts/orbitron-bold-webfont.eot');
  src: url('fonts/orbitron-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/orbitron-bold-webfont.woff') format('woff'), url('fonts/orbitron-bold-webfont.ttf') format('truetype'), url('fonts/orbitron-bold-webfont.svg#orbitronbold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'orbitronregular';
  src: url('fonts/orbitron-regular-webfont.eot');
  src: url('fonts/orbitron-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/orbitron-regular-webfont.woff') format('woff'), url('fonts/orbitron-regular-webfont.ttf') format('truetype'), url('fonts/orbitron-regular-webfont.svg#orbitronregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'audiowideregular';
  src: url('fonts/Audiowide-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensansregular';
  src: url('fonts/OpenSans-Regular-webfont.eot');
  src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Regular-webfont.woff') format('woff'), url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('fonts/OpenSans-Regular-webfont.svg#opensansregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensansbold';
  src: url('fonts/OpenSans-Bold-webfont.eot');
  src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Bold-webfont.woff') format('woff'), url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('fonts/OpenSans-Bold-webfont.svg#opensansbold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-8j22tu');
  src: url('fonts/icomoon.eot?#iefix-8j22tu') format('embedded-opentype'), url('fonts/icomoon.woff?-8j22tu') format('woff'), url('fonts/icomoon.ttf?-8j22tu') format('truetype'), url('fonts/icomoon.svg?-8j22tu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-loop:before {
  content: "\e600"; }

h1 {
  font-family: opensansregular, verdana, sans-serif;
  color: #626262;
  font-size: 1.4em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: left; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    h1 {
      font-size: 1.19em; } }
  @media only screen and (max-width: 479px) {
    h1 {
      font-size: 0.98em; } }

h2 {
  font-family: opensansbold, helvetica, sans-serif;
  color: #747474;
  font-size: 0.9em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: left; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    h2 {
      font-size: 0.765em; } }
  @media only screen and (max-width: 479px) {
    h2 {
      font-size: 0.63em; } }

h3 {
  font-family: opensansbold, helvetica, sans-serif;
  color: #747474;
  font-size: 0.8em;
  text-align: left; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    h3 {
      font-size: 0.68em; } }
  @media only screen and (max-width: 479px) {
    h3 {
      font-size: 0.56em; } }

p {
  font-family: opensansregular, helvetica, sans-serif;
  color: #000000;
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: justify; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    p {
      font-size: 0.85em; } }
  @media only screen and (max-width: 479px) {
    p {
      font-size: 0.7em; } }

a {
  color: #00a0dc;
  text-decoration: none;
  font-weight: bold; }

a:hover {
  color: #a0a0a0;
  transition: 0.3s; }

small {
  font-family: opensansregular, helvetica, sans-serif;
  color: #ffffff;
  font-size: 0.9em; }
  @media only screen and (max-width: 479px) {
    small {
      font-size: 0.54em; } }

ul {
  font-family: opensansregular, helvetica, sans-serif;
  color: #000000;
  font-size: 0.9em;
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    ul {
      font-size: 0.765em; } }
  @media only screen and (max-width: 479px) {
    ul {
      font-size: 0.63em; } }

ul.skillList {
  list-style-type: none;
  margin: 0;
  margin-bottom: 0;
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1; }
  @media only screen and (max-width: 479px) {
    ul.skillList {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
      margin-bottom: 0; } }

ul.skillList li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: inline-block; }

.resume h1:hover {
  cursor: pointer;
  color: #a0a0a0;
  transition: 0.3s; }

ul span {
  font-weight: bold; }

#swapper1 {
  display: none;
  position: absolute;
  right: 2em;
  bottom: 2em; }
  @media only screen and (max-width: 479px) {
    #swapper1 {
      right: 1em;
      bottom: 1em; } }

#swapper2 {
  display: none;
  position: absolute;
  right: 2em;
  bottom: 2em; }
  @media only screen and (max-width: 479px) {
    #swapper2 {
      right: 1em;
      bottom: 1em; } }

header {
  width: 100%;
  position: relative;
  top: 0;
  height: 6em;
  display: block;
  padding-top: 1em;
  background-color: #3f3f3f; }
  @media only screen and (max-width: 479px) {
    header {
      height: 4em;
      text-align: center; } }

header h1 {
  margin: 0.2em 1em;
  color: #000000;
  font-family: orbitronregular, helvetica, sans-serif;
  font-size: 2.2em;
  float: left; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    header h1 {
      margin: 0;
      text-align: center;
      float: none; } }
  @media only screen and (max-width: 479px) {
    header h1 {
      font-size: 1.1em;
      float: none;
      text-align: center;
      margin: 0; } }

header a {
  color: #00a0dc; }

footer {
  width: 100%;
  display: block;
  background-color: #3f3f3f;
  height: 5em;
  padding: 1.9em;
  text-align: center;
  bottom: 0;
  position: absolute; }
  @media only screen and (max-width: 479px) {
    footer {
      height: 3em;
      padding: 0.8em; } }

nav {
  width: 600px;
  display: inline-block;
  float: right;
  height: 4em; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    nav {
      width: 420px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    nav {
      width: 100%;
      height: 2em; } }
  @media only screen and (max-width: 479px) {
    nav {
      float: none;
      display: block;
      width: 100%;
      height: 1.3em; } }

nav a {
  float: right;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-family: orbitronregular, helvetica, sans-serif;
  font-size: 1.2em;
  color: #ffffff;
  margin-top: 1em;
  text-align: center; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    nav a {
      font-size: 1.02em;
      margin-top: 1.2em;
      margin-left: 1em;
      margin-right: 1em; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    nav a {
      font-size: 0.84em;
      margin-left: 0;
      margin-right: 0;
      width: 25%;
      margin-top: 0.5em; } }
  @media only screen and (max-width: 479px) {
    nav a {
      width: 25%;
      margin-left: 0;
      margin-right: 0;
      font-size: 0.6em;
      margin-top: 0.5em; } }

nav a:hover {
  color: #00a0dc;
  transition: 0.3s; }

figure {
  position: relative; }

.portfolio figure {
  text-align: center; }

figure.portrait {
  width: 300px;
  float: right;
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    figure.portrait {
      width: 201px;
      margin-left: 1em;
      margin-top: 0.7em; } }
  @media only screen and (max-width: 479px) {
    figure.portrait {
      width: 99px;
      margin-left: 0.5em;
      margin-top: 0.5em; } }

.links, .connect, .splash {
  margin: 2em auto;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0);
  width: 675px; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .links, .connect, .splash {
      width: 675px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .links, .connect, .splash {
      width: 460px;
      margin: 1em auto;
      padding: 1em; } }
  @media only screen and (max-width: 479px) {
    .links, .connect, .splash {
      width: 95%;
      margin: 1em auto;
      padding: 1em; } }

.portfolio section {
  width: 100%;
  margin-bottom: 3em; }



.resume section div {
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1; }

.resumeToggled {
  height: 0;
  visibility: hidden;
  transition: 0.5s; }

.fullHeight {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

.scanLines {
  /*** WEBKIT ***/
  position: absolute;
  top: 0;
  background: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 2px);
  -webkit-background-size: 100% 2px;
  /** MOZILLA **/
  background: -moz-repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 2px);
  -moz-background-size: 100% 2px; }

/*# sourceMappingURL=application.css.map */