
@mixin blockpane {
  margin: $spacing auto;
  padding: $spacing;
  background-color: $color-article;
  width: $width-block;

  @media #{$tablet1} {
    width: $width-block2;
  }
  @media #{$tablet2} {
    width: $width-block3;
    margin: $spacing2 auto;
    padding: $spacing2;
  }
  @media #{$mobile} {
    width: $width-block4;
    margin: $spacing2 auto;
    padding: $spacing2;
  }
}
