footer {
  width: 100%;
  display: block;
  background-color: $color-footer;
  height: 5em;
  padding: 1.9em;
  text-align: center;
  position:relative;
  @media #{$mobile} {
    height: 3em;
    padding: 0.8em;
  }
}
