header {
  width: 100%;
  position: relative;
  top: 0;
  height: 6em;
  display:block;
  padding-top: 1em;
  background-color: $color-header;
  @media #{$mobile} {
    height: 4em;
    text-align: center;
  }
}

header h1 {
  margin: 0.2em 1em;
  color: $color-text3;
  font-family: $font4;
  font-size: $size5;
  //background-color: white;
  float:left;
  @media #{$tablet2} {
    //font-size: $size5 * 0.8;
    margin: 0;
    text-align: center;
    float: none;
  }
  @media #{$mobile} {
    font-size: $size5 * 0.5;
    float:none;
    text-align: center;
    margin: 0;
  }
}

header a {
  color: $color-text6;
}
