header {
  width: 100%;
  position: relative;
  top: 0;
  height: 6em;
  display:block;
  padding-top: 1em;
  background-color: $color-header;
  @media #{$mobile} {
    height: 4em;
    text-align: center;
  }
}

header h1 {
  margin: 0.2em 1em;
  color: $color-text3;
  font-family: $font3;
  font-size: $size1;
  float:left;
  @media #{$tablet2} {
    font-size: $size1 * 0.5;
    margin: 1em;
  }
  @media #{$mobile} {
    font-size: $size1 * 0.5;
    float:none;
    margin: 0.1em;
  }
}
