figure {
  position: relative;
}

figure.portrait {
  width: $portrait-size;
  float:right;
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  @media #{$tablet1} {
    width: $portrait-size * 0.83;
  }
  @media #{$tablet2} {
    width: $portrait-size * 0.67;
    margin-left: 1em;
    margin-top: 0.7em;
  }
  @media #{$mobile} {
    width: $portrait-size * 0.33;
    margin-left: 0.5em;
    margin-top: 0.5em;
  }
}
