nav {
  width: 50%;
  display: inline-block;
  float:right;
  height: 4em;
  @media #{$tablet2} {
    width: 60%;
  }
  @media #{$mobile} {
    float:none;
    display:block;
    width:100%;
    height: 1.3em;
  }
}

nav a {
  float:left;
  width: 25%;
  font-family: $font3;
  font-size: $size3;
  color: $color-text5;
  margin-top:1em;
  text-align:center;
  @media #{$tablet1} {
    font-size: $size3 * 0.85;
    margin-top:1.2em;
  }
  @media #{$tablet2} {
    font-size: $size3 * 0.7;
    margin-top:1.6em;
  }
  @media #{$mobile} {
    font-size: $size3 * 0.5;
    margin-top: 0.5em;
  }
}

