
.links, .connect, .splash {
  @include blockpane;
}

.portfolio section {
  width: 100%;
  margin-bottom: 3em;
}

.portfolio section h1 {
  //text-align: center;
}

.profile, .objective, .education {
  /* margin-bottom: 2em; */
}

/*
.resume section div {
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}
*/

.skillsBlock {
  width: 50%;
  float: left;
  margin-bottom: 1em;
  @media #{$tablet2} {
    width: 100%;
  }
  @media #{$mobile} {
    width: 100%;
  }
}

.resumeToggled {
  height: 0;
  visibility: hidden;
  transition: 0.5s;
}

