
.links, .connect, .splash {
  @include blockpane;
}

.portfolio section {
  width: 100%;
  margin-bottom: 3em;
}

.portfolio section h1 {
  //text-align: center;
}

.profile, .objective, .education {
  margin-bottom: 2em;
}
